
@media (max-width: 768px) {
    .resp-about{
        flex-direction: column;
        padding: 2rem;
    }
    .resp-icons-about{
        display: flex;
        flex-direction: row;
    }
    .resp-dev{
        display: flex;
        flex-direction: column;
        
        
    }
}