
@media (max-width: 759px) {
    .resp-perfil{
        margin: 0 5rem 5rem;   
    }
    .separador{
        border-bottom: 1px solid #D3D3D3;
    }
    .resp-button-perfil{
        width: 250px;
    }
}