
@media (max-width: 768px) {
    .resp-busca{
        margin-left: 50px;
        width: 13rem;
    }
    .resp-navbar{
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    .resp-elementos-navbar{
        display: flex;
        flex-direction: row;
        
    }
}
body.dark {
     .logindm{
        background-color: #E6E6E6;
        color: #212121;
      }
      .logindmtxt{
        color: #E6E6E6;
      }
}