
@media (max-width: 759px) {
        .text-initial{
        text-align: center;
        padding: 1rem;
    }
    .sec-2 {
        margin-top: 10rem;
    }
    .sec-2-img{
        padding: 3rem;
    }
    #topicos{
        display: flex;
        flex-direction: column;
        gap: 0.25rem;
    }
    .p-align{
        text-align: center;
    }
    .p-icon{
        width: 2rem;
    }

    .w-form{
        width: 20rem;
    }
    .p-input{
        padding: 0;
    }

    .resp-init{
        display: flex;
        flex-direction: row;
        padding: .75rem 1rem;
    }
    .resp-icons{
        display: flex;
        flex-direction: column;
    }
    .resp-init-button{
        display: flex;
        flex-direction: row;
    }
}
